@model IEnumerable<Person>
@{
    ViewData["Title"] = "List people";
}

<h2>Список пользователей:</h2>

<table class="table-condensed" >
    <tr><th>Id</th><th>Имя</th><th>Возраст</th><th>Пароль</th><th>Токен</th><th>Роль</th></tr>
    @foreach(var user in Model)
    {
        <tr><td>@user.Id</td><td>@user.Name</td><td>@user.Age</td><td>@user.Password</td><td>@user.Token</td><td>@user.Role</td></tr>
    }
</table>
